.img{
  margin-left: 400px;
}
.grid{
  margin-top: 40px;
}

#btnEvent {
  width: 95%;
  height: 6vh;
  font-size: 90%;
  text-align: center;
  margin-left: -100%;
  margin-top: 5%;
}

#basic-nav-dropdown {
  margin-top: -30%;
}